<div class="container recipe">
		<div class="row recipeSummary">
			<header>header</header>
			<div class="col-md-6 authorSummary">
				Lorem ipsum
			</div>
			<div class="col-md-6 recipeImage">
				<img class="img-responsive" src="images/image1.jpg">
			</div>
		</div>
		<div class="row recipeBody">
			<h2>Ingrediente</h2>
				<div class="col-md-4">
					<span><i class="fa fa-list fa-2x"></i></span>
					<ul>
						<li>ingredient 1</li>
						<li>ingredient 2</li>
					</ul>
				</div>
				<div class="col-md-4">
					<span><i class="fa fa-pie-chart fa-2x"></i></span> 4 portii
				</div>
				<div class="col-md-4">
					<span><i class="fa fa-clock-o fa-2x"></i></span> 60 minute
				</div>
		</div>
		<div class="row">
			<div class="recipeFooter">footer</div>
			<footer>Footer1</footer>
		</div>
</div>