<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Boilerplate</title>
    <link rel="shortcut icon" type="image/png" href="images/assets/ico.png">
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/angular-toastr.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/other_css.css">
    <link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/recipe.css">

    <!--  Javascripts -->
    <!--    jquery    -->   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--  bootstrap   -->   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--    Angular   -->   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>


    <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>



    <script src="https://code.angularjs.org/1.4.4/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="js/vendor/angular-toastr.tpls.js"></script>
    <script src="js/vendor/satellizer.js"></script>

    <script type="text/javascript" src="js/main_app.js"></script>
    <script type="text/javascript" src="js/services/AccountService.js"></script>
    <script type="text/javascript" src="js/services/LoginService.js"></script>
    <script type="text/javascript" src="js/services/UserService.js"></script>
    <script type="text/javascript" src="js/services/ContentService.js"></script>
    <script type="text/javascript" src="js/controllers/HomeCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/ProfileCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/NavbarCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/LoginCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/SignUpCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/RecipesCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/SingleRecipeCtrl.js"></script>
    <!--


     -->
</head>


<body ng-app="main_app">

<!--

    <nav class="navbar navbar-default no-margin" ng-controller='NavbarCtrl'>

        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                asd<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <a ui-sref="home" href="/"><h3>What's in your fridge</h3></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="color:#000">
                <li>
                    <a id="menu-toggle-2" style="cursor:pointer">
                        <div class="menuIcon menu-icon active effect1" id="showLeft">
                            <div class="menu-icon-line"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
-->
<nav class="navbar navbar-default no-margin navbar-fixed-top" ng-controller='NavbarCtrl'>
        <div class="navbar-header fixed-brand">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="navbar" id="menu-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a ui-sref="home" href="/"><h3>What's in your fridge</h3></a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a id="menu-toggle-2" style="cursor:pointer; height:50px">
                        <div class="menuIcon menu-icon active effect1" id="showLeft">
                            <div class="menu-icon-line"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="cbp-spmenu">
            <ul class="sidebar-nav" id="menu">

                <li>
                    <a href="#">
                        <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a ui-sref="login" ng-if="!isAuthenticated()">
                        <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>
                        Login
                    </a>
                </li>
                <li>
                    <a ng-if="isAuthenticated()" ng-click="logout()">
                        <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>
                        Logout
                    </a>
                </li>
                <li>
                    <a ui-sref="state1">
                        <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>
                        Recipes
                    </a>
                </li>
                <li>
                    <a ui-sref="profile" ng-if="isAuthenticated()">
                        <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>
                        My Account
                    </a>
                </li>
                <li>
                    <a href="#" ng-if="isAuthenticated()">
                        <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>
                        Chat Room
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>
                        Users List
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-lg-12">

                        <h1>Simple Sidebar With Bootstrap 3 by <a href="http://seegatesite.com/create-simple-cool-sidebar-menu-with-bootstrap-3/" >Seegatesite.com</a></h1>
                        <p>This sidebar is adopted from start bootstrap simple sidebar startboostrap.com, which I modified slightly to be more cool. For tutorials and how to create it , you can read from my site here <a href="http://seegatesite.com/create-simple-cool-sidebar-menu-with-bootstrap-3/">create cool simple sidebar menu with boostrap 3</a></p>
                        <div ui-view></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>


</body>

</html>