
/*Recipe*/
.outsideRecipeWrapper {
  height: auto;
  background-color: #ffffff;
  border-radius: 3px;
  border: 5px solid #ffffff;
  /* box-shadow: 1px 1px 4px rgba(0,0,0,.3); */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom:50px;
  cursor:default;
}


.recipe  {
  margin: 0 auto;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  margin-bottom:50px;
}

.recipe img {
  width: 100%;
  height: 100%;
}


.recipe  .likeButton {
  background-color: #7cc8b5;
  /*tomato*/
  text-align: right;
  padding-right: 7px;
  color: #fff;
  font-size: 1.4em;
  font-family: 'Lobster', cursive;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 70px;
  right: 20px;
  position: absolute;
  height: 40px;
  line-height : 40px;
}
.recipe .likeButton .stars {
  color:#000;
  display: none;
  position: absolute;
  right: 85px;
}
.recipe  .likeButton:hover {
  opacity: 1;
  width: 175px;
}
.recipe  .likeButton:hover .stars {
  display: inline;
}


.recipe .recipeTitle {
  border-color: #fff;
  margin: 0 auto;
}
.recipe .recipeTitle:before {
  border-bottom-color: #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top-color: inherit;
  border-top-style: solid;
  border-top-width: 10px;
  content: "";
  height: 0;
  margin-left: -10px;
  margin-top: 5px;
  width: 0;
  z-index: 2;
}



.recipe header {
  background: #fff;
  /*#ffaf50*/
  display: block;
  padding: 15px 15px;
  text-align: center;
}
.recipe header h2 {
  line-height: 1;
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: tomato;
  /*lighten(#4a5469,5%);*/
  -webkit-font-smoothing: antialiased;
}


.recipe .recipeBody {
  /* background-color: skyblue; */
  background-color: tomato;
  /*#26c6da*/
}
.recipe .recipeBody .picture {
  position: relative;
}

.recipe .recipeBody .preparationTime {
  z-index: 2;
  background-color: tomato;
  text-align: center;
  font-size: 1.3em;
  color: #fff;
}
.recipe .recipeBody .preparationTime .fa {
  font-size: 2em;
  vertical-align: middle;
  height: 40px;
}
.recipe .recipeBody .ingredientsWrapper {
  position: relative;
  border-bottom: 1px solid #fff;
  background-color: #ffaf50;
  /*#82DACA*/
}
.recipe .recipeBody .ingredientsWrapper .ingredientContent {
}
.recipe .recipeBody .ingredientsWrapper .ingredientContent ul {
  padding-left: 10px;
}
.recipe .recipeBody .ingredientsWrapper .ingredientContent ul li {
  font-family: 'Droid Sans', sans-serif;
  line-height: 1.4;
  font-size: 16px;
  list-style-type: none;
}
.recipe .recipeBody .ingredientsWrapper .ingredientContent ul li span {
  padding-right: 0.4rem;
}
.recipe .recipeBody .detailsWrapper {
  background-color: tomato;
  border-radius: 0px 0px 5px 5px;
}
.recipe .recipeBody .detailsWrapper .likesCount {
  height: 100%;
  width: 50%;
  background-color: #82DACA;
  float: left;
  border-radius: 0px 0px 0px 5px;
}
.recipe .recipeBody .detailsWrapper .likesCount .price {
  text-align: center;
  top: 20px;
  font-size: 2em;
  color: #fff;
  position: relative;
}
.recipe .recipeBody .detailsWrapper .likesCount .price span {
  font-size: 6rem;
  letter-spacing: 8px;
  font-weight: bold;
}
.recipe .recipeBody .detailsWrapper .likesCount .likesCount-footer {
  text-align: center;
  position: relative;
  top: 35px;
  height: 40px;
  width: 100%;
  line-height: 40px;
  background-color: tomato;
  border-right: 1px solid #fff;
  border-radius: 0px 0px 0px 5px;
}
.recipe .recipeBody .detailsWrapper .likesCount .likesCount-footer p {
  color: #fff;
}
.recipe .recipeBody .detailsWrapper .accuracyCount {
  background-color: #ffaf50;
  border-radius: 0px 0px 5px 0px;
}
.recipe .recipeBody .detailsWrapper .accuracyCount .price {
  text-align: center;
  font-size: 2em;
  color: #fff;
  position: relative;
}
.recipe .recipeBody .detailsWrapper .accuracyCount .price span {
  font-size: 2rem;
  letter-spacing: 8px;
  font-weight: bold;
}
.recipe .recipeBody .detailsWrapper .accuracyCount .accuracyCount-footer {
  text-align: center;
  line-height: 40px;
  background-color: tomato;
}
.recipe .recipeBody .detailsWrapper .accuracyCount .accuracyCount-footer p {
  color: #fff;
}