@import url(https://fonts.googleapis.com/css?family=Amaranth);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Signika);
@import url(https://fonts.googleapis.com/css?family=Bevan);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background-color: #cadbec;
  /* General style for menu */
  /*Menu Icon*/
}
body p {
  color: red;
}
body h3 {
  font-family: 'Lobster', cursive;
  color: #ff9500;
}
body header {
  background-color: #222211;
}


body .menu-icon {
width: 40px;
float: right;
}
body .menu-icon .menu-icon-line {
background: #537797;
content: '';
display: block;
height: 3px;
margin: 6px 0;
width: 100%;
border-radius: 4px;
transition: all .3s ease;
}
body .menu-icon:after {
background: #537797;
content: '';
display: block;
height: 3px;
width: 100%;
border-radius: 4px;
transition: all .3s ease;
}
body .menu-icon:before {
background: #537797;
content: '';
display: block;
height: 3px;
width: 100%;
border-radius: 4px;
transition: all .3s ease;
}
body .effect1:after {
transform: translateY(-9px) rotate(225deg);
}
body .effect1 .menu-icon-line {
transform: rotate(180deg);
opacity: 0;
}
body .effect1:before {
transform: translateY(9px) rotate(135deg);
}



.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;

  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;

  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.

     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}









.searchBox {
  margin-top: 240px;
}