<div class="col-md-12 col-sm-8 col-xs-8">
	<tags-input ng-model="tags" add-on-paste="true" add-from-autocomplete-only="true">

    <auto-complete source="loadTags()" load-on-down-arrow="true" load-on-focus="true" select-first-match="false"></auto-complete>

</tags-input>
<p>Model : {{tags}}</p>
<button ng-click="searchRecipes()">Search</button>

<div class="row">
        <div ng-repeat="recipe in recipes">
            <div class="col-md-4 col-sm-4">
                <div class="outsideRecepyWrapper noselect">
                    <div class="insideRecepyWrapper">
                        <div class="recepyTitle">
                            <header>
                                <h2>{{recipe.nume}}</h2>
                            </header>
                        </div>
                        <div class="recepyBody">
                            <div class="picture">
                                <div class="likeButton" ng-if="isAuthenticated()">
                                    <span class="stars">
                                        <span data-toggle="tooltip" title="Not really..">
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                        <span data-toggle="tooltip" title="It's ok.">
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                        <span data-toggle="tooltip" title="Super!">
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                    </span>
                                    <i class="fa fa-thumbs-o-up"></i> <span>Like!</span>
                                </div>
                                <img ng-src={{recipe.image_link}} alt="Mountain View" style="width:290px;height:200px;">
                            </div>
                            <div class="preparationTime">
                                <span><i class="fa fa-clock-o"></i> {{recipe.timp_preparare}}</span>
                            </div>
                            <div class="ingredientsWrapper">
                                <div class="ingredientContent ingredients">
                                    <ul>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                    </ul>
                                </div>
                                <div class="ingredientContent details">
                                    <ul>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="detailsWrapper">

                                <div class="accuracyCount">
                                    <p class="price">
                                        <span>{{recipe.accuracy}}</span>
                                        <sub>%</sub>
                                    </p>
                                    <div class="accuracyCount-footer">
                                        <p>{{recipe.ingrediente_corecte}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>


