<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">Home Page</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-6">
					<h2>Heading</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
					<p>
						<a class="btn btn-primary" href="#">View details »</a>
					</p>
				</div>
				<div class="col-sm-6">
					<h2>Heading</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
					<p>
						<a class="btn btn-primary" href="#">View details »</a>
					</p>
				</div>
			</div>
		</div>
		<div class="panel-footer text-center">
			<ul class="list-inline">
				<li><i class="ion-star"></i> {{stars | number}} stars</li>
				<li><i class="ion-fork-repo"></i> {{forks | number}} forks</li>
				<li><i class="ion-pull-request"></i> {{issues | number}} issues</li>
			</ul>
		</div>
	</div>
	<div class="text-center">
		<a ui-sref="single_recipe" class="btn btn-default" href="https://github.com/sahat/satellizer"><i class="ion-social-github"></i> GitHub project</a>
		<a class="btn btn-default" href="https://github.com/sahat/satellizer/issues/new"><i class="ion-bug"></i> Report issue</a>
	</div>
</div>


<tags-input ng-model="tags" add-on-paste="true" add-from-autocomplete-only="true">

	<auto-complete source="loadTags()" load-on-down-arrow="true" load-on-focus="true" select-first-match="false"></auto-complete>

</tags-input>
<p>Model : {{tags}}</p>
<button ng-click="searchRecipes()">Search</button>

<div class="row">
		<div ng-repeat="recipe in recipes">
            <div class="col-md-4">
                <div class="outsideRecepyWrapper noselect">
                    <div class="insideRecepyWrapper">
                        <div class="recepyTitle">
                            <header>
                                <h2>{{recipe.nume}}</h2>
                            </header>
                        </div>
                        <div class="recepyBody">
                            <div class="picture">
                                <div class="likeButton">
                                    <span class="stars">
                                        <span data-toggle="tooltip" title="Not really..">
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                        <span data-toggle="tooltip" title="It's ok.">
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                        <span data-toggle="tooltip" title="Super!">
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                    </span>
                                    <i class="fa fa-thumbs-o-up"></i> <span>Like!</span>
                                </div>
                                <img ng-src={{recipe.image_link}} alt="Mountain View" style="width:290px;height:200px;">
                            </div>
                            <div class="preparationTime">
                                <span><i class="fa fa-clock-o"></i>{{recipe.timp_preparare}}</span>
                            </div>
                            <div class="ingredientsWrapper">
                                <div class="ingredientContent ingredients">
                                    <ul>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                    </ul>
                                </div>
                                <div class="ingredientContent details">
                                    <ul>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                        <li><i class="fa fa-chevron-right"></i> ingredient 1</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="detailsWrapper">
                                <div class="likesCount">
                                    <p class="price">
                                        <span>{{recipe.number_likes}}</span>
                                    </p>
                                    <div class="likesCount-footer">
                                        <p>likes</p>
                                    </div>
                                </div>
                                <div class="accuracyCount">
                                    <p class="price">
                                        <span>{{recipe.accuracy}}</span>
                                        <sub>%</sub>
                                    </p>
                                    <div class="accuracyCount-footer">
                                        <p>{{recipe.ingrediente_corecte}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>