<div class="signin cf">
        <div class="avatar"></div>
            <form>
                <div class="inputrow">
                    <input type="text" id="name" ng-model="username" placeholder="Username"/>
                    <label for="name" class="ion-person"></label>
                </div>
                <div class="inputrow">
                    <input type="password" id="pass" ng-model="password" placeholder="Password"/>
                    <label for="pass" class="ion-locked"></label>
                </div>
                <input type="submit" value="Login" ng-click="login()"/>
                <a ui-sref="signup">Sign Up</a>
            </form>
        </div>
    </div>