<div class="container">
	<div class="recipe recipeWrapper">
		<header>Header 1</header>
		<div class="recipeSummary clearfix">
			<div class="authorSummary">
				Lorem ipsum
			</div>
			<div class="recipeImage">
				<img src="images/image1.jpg">
			</div>
		</div>
		<section class="recipeBody">
			<h2>Ingrediente</h2>
			<div class="row">
				<div class="col-md-4">
					<span><i class="fa fa-list"></i></span>
					<ul>
						<li>ingredient 1</li>
						<li>ingredient 2</li>
					</ul>
				</div>
				<div class="col-md-4">
					<span><i class="fa fa-pie-chart"></i></span>4 portii
				</div>
				<div class="col-md-4">
					<span><i class="fa fa-clock-o"></i></span>60 minute
				</div>
			</div>
		</section>
		<div class="recipeFooter">footer</div>
		<footer>Footer1</footer>
	</div>
</div>