<div class="signin cf">
    <div class="avatar"></div>
    <div><h3>Sign Up</h3></div>
        <form>
            <div class="inputrow">
                <input type="text" id="name" ng-model="username" placeholder="Username"/>
                <label for="name" class="ion-person"></label>
            </div>
            <div class="inputrow">
                <input type="password" id="pass" ng-model="password" placeholder="Password"/>
                <label for="pass" class="ion-locked"></label>
            </div>
            <input type="submit" value="Login" ng-click="signup()"/>
            <a ui-sref="main.login">Login</a>
        </form>
    </div>
</div>